:root {
    --primario: #a5c882;
    --secundario: #d33f49;
    --luz: #fff;
    --negro: #000000;
    --gris: #e7e7e7;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    height: 100vh;
    background-color: var(--gris);
}

*::first-letter {
    text-transform: capitalize;
}

.bordeRedondeado {
    border-radius: 5px;
}

.list {
    margin: 25px auto;
    padding: 25px;
    background-color: var(--luz);
    width: 100%;
    max-width: 350px;
}

.fecha {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fechaIzquierda {
    display: flex;
    align-items: center;
}

#fechaNumero {
    font-size: 50px;
}

#fechaTexto {
    letter-spacing: 3px;
}

#fechaNumero,
#fechaMes,
#fechaTexto {
    font-weight: bold;
}

#fechaMes,
#fechaAño {
    margin-left: 7px;
    font-size: 20px;
}

form {
    margin: 20px 0;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 35px auto;
    grid-column-gap: 15px;
}
input {
    border: none;
    padding-left: 10px;
    background-color: var(--gris);
}
input:focus {
    outline: none;
}

.addTaskButton,
.orderButton {
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.addTaskButton {
    height: 35px;
    border-radius: 50%;
    font-size: 18px;
    background-color: var(--gris);
}

.orderButton {
    background-color: var(--secundario);
    color: var(--luz);
}

.tarea {
    background-color: var(--primario);
    padding: 15px;
    margin-top: 15px;
    color: var(--luz);
    cursor: pointer;
}

.done {
    background-color: var(--gris);
    text-decoration: line-through;
    color: var(--negro);
}